*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}
.main-container{
    height: auto;
    width: 100%;
}
.nav-part{
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.nav1{
    height: 40px;
    width: 100%;
    background: rgb(227,12,103);
    background: radial-gradient(circle, rgba(227,12,103,1) 0%, rgba(0,0,0,1) 100%);
    display: flex;
    align-items: center;
    padding-inline: 50px;
    justify-content: space-between;
}
.nav1 p{
    margin-top: 10px;
}
.parta{
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
    color: white;
}
.partb{
  display: flex;
  align-items: end;
}
.partb img{
height: 80%;
width: 400px;
}
.nav2{
    height: 80px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    padding-inline: 100px;
    justify-content: space-between;
}
.nav2 img{
    height: 30px;
    width: 200px;
}
.nav2 button{
    height: 50%;
    width: 40%;
    background-color: rgba(38, 30, 30, 0.667);
    border: 1px solid white;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 20px;
    border-radius: 10px;
    font-size: 1em;
}
.nav3{
    color: white;
}
#navbarNav ul{
    width: 100%;
    display: flex;
    color: white;
    justify-content: space-between;
}
.homepage{
    height: auto;
    width: 100%;
    display: flex;
}
.homepage .left{
    height: auto;
    width: 20%;
    padding-inline: 20px;
}
.homepage .right{
    height: auto;
    width: 80%;
    display: flex;
   justify-content: center;
    padding-block: 30px;
}
.email{
    display: flex;
    height: 50px;
    width: 600px;
    /* border-radius: 20px; */
}
.email .lefty{
    width: 80%;
    color: gray;
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.email .righty{
    width: 20%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background-color: black;
}
.footer{
    background-color: black;
}

/* responsive css code */
@media (max-width:900px) {
    .nav1{
        padding-inline: 10px;
        padding-block: 20px;
    }

    .nav1 p{
        font-size: 0.7em;
        text-align: center;
        margin-top: 20px;
    }
    .nav1 img{
        height: 20px;
        width:250px;
    }
    .nav2{
        height: 70px;
        padding-inline: 20px;
    }
    .homepage{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .homepage .left{
        height: auto;
        width: 100%;
        padding-inline: 50px;
    }
    .homepage .right{
        height: auto;
        width: 100%;
        display: flex;
       justify-content: center;
        padding-block: 30px;
    }
    .card-body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .email{
        display: flex;
        height: 50px;
        width: 400px;
    }
    .email .righty{
        font-size: 0.8em;
    }
   
}